{% extends "layout.html" %}

{% block content %}

    <!-- Profile -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
         <h4 class="w3-center">About me</h4>
         <p class="w3-center"><img src="static/images/yomero.jpg" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
         <hr>
         <p><i class="fa fa-edit fa-fw w3-margin-right w3-text-theme"></i> Developer for Mikauran Web Store Admin Dashboard with Python.</p>
         <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> Guadalajara, MX</p>
         <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> September 28, 2020</p>
        </div>
      </div>
      <br>

{% endblock %}
