{% extends "layout.html" %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Mikauran Store Admin Dashboard</h1>
            <p class="lead">July 2020</p>
            <img src="static/images/salesreport.jpg" width="95%">

            <div class="d-flex p-3 bg-secondary text-white">
                <div>
                    <img src="static/images/orders.jpg" width="50%">
                </div>
                <div>
                    <img src="static/images/sales.jpg" width="50%">
                </div>
                <div>
                    <img src="static/images/likes.jpg" width="50%">
                </div>
                <div>
                    <img src="static/images/comments.jpg" width="50%">
                </div>
            </div>

        </div>
    </div>


{% endblock %}

