{% extends "layout.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>

    <table class="table table-hover table-dark">
    <thead>
    <tr>
        <th scope="col">Order Id</th>
        <th scope="col"Product</th>
        <th scope="col">Status</th>
        <th scope="col">Popularaty</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Samsung Smart TV</td>
        <td>In Stock</td>
        <td>Five starts</td>
    </tr>
    <tr>
        <th scope="row">2</th>
         <td>iPhone 12 Pro</td>
        <td>In Stock</td>
        <td>Five starts</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Go Pro 9</td>
        <td>In Stock</td>
        <td>Five starts</td>
    </tr>
    </tbody>
</table>

</head>
<body>

</body>
</html>

{% endblock %}